#contact {
    padding: 1em 7em 0;
}

#contact .contactbox {
    box-shadow: 0px 59px 124px rgba(0, 0, 0, 0.12);
    background-color: white;
    border-radius: 1rem;
    padding: 3em;
    transform: translate(0, 4em);
    display: flex;
    flex-direction: column;
}

#contact .contactheader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact .contactheader h2 {
    margin: 0;
}

#contact .contactheader p {
    color: #87909D;
    text-align: center;
}

#contact .contactcolumns {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 2rem;
}

#contact .leftcolumn {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

#contact .rightcolumn {
    width: 40%;
    height: 100%;
}

#contact .contacticonscontainer {
    display: flex;
    margin-top: 1rem;
    align-self: center;
}

#contact .iconcontainer {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

#contact .iconcontainer:hover {
    background-color: #A53DFF;
}

#contact .iconcontainer img {
    width: 100%;
}
