.footer {
    background-color: #2B384C;
    padding: 10em 10em 6em;
    color: white;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.footer .link:hover {
    color: #a1b5d6;
}
