#home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#home .leftcolumn {
    max-width: 40%;
}

#home h1 {
    font-size: 4rem;
    font-weight: 600;
    margin: 0 0 2rem;
}

#home p {
    margin: 2rem 0;
}

#home .imgcontainer {
    width: 25rem;
    height: 30rem;
    border-radius: 1.6rem;
    box-shadow: 0px 24px 116px rgba(43, 56, 76, 0.09);
    background-image: url('../images/banner.jpg');
    background-size: cover;
}

@media screen and (max-width: 900px) {
    #home .leftcolumn {
        max-width: 90%;
    }

    #home .imgcontainer {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    #home h1 {
        font-size: 3rem;
    }
}